<h1>Parcel Status Updated</h1>
<p>Hello <%= @parcel.sender.name %>,</p>
<p>The status of the parcel you have sent has been updated.</p>
<p>The status of your parcel <%= @parcel.order_id %> is <%= @parcel.status %></p>