<h1>Parcel Status Updated</h1>
<p>Hello <%= @parcel.receiver.name %>,</p>
<p>The status of the parcel you are expecting has been updated.</p>
<p>The status of your parcel <%= @parcel.order_id %> is <%= @parcel.status %></p>